Makefile.in
Makefile
aclocal.m4
autom4te.cache
build-aux
configure
config.h.in
config.h
config.log
config.status
.dirstamp
.deps
stamp-h1
*~
*.o
*.a

.cproject
.project
nbproject/private

tp-museo*.tar.gz
