/libtool
Makefile.in
Makefile
aclocal.m4
autom4te.cache
build-aux
configure
config.h.in
config.h
config.log
config.status
.dirstamp
.deps
stamp-h1
*~
*.o
*.a
*.lo
*.la

.cproject
.project
.autotools
nbproject/private

tp-museo*.tar.gz

src/broker/broker-entrada
src/id-server/id-server
src/ipersona_comp/ipersona_comp
src/ipersona_comp/ipersona_comp_lector
src/puerta/puerta
